> This notebook demonstrates loading of the Yelp datasets.

# Setup

##### Imports

In [1]:
import os

import pandas as pd

##### Set Root Dir as CWD

In [ ]:
# Navigate to project root (if not already there)
if os.path.split(os.getcwd())[1] != "cs374-project":
    %cd ../

# Load

In [4]:
path = "data/yelp/yelp_academic_dataset_"

##### Tip (~0.18Gb)

> Testing loading with a smaller dataset.

In [5]:
tips = pd.read_json(path + "tip.json", lines=True)

In [6]:
tips

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

##### Reviews (~5.22Gb)

> Testing loading for review dataset. Given the size, testing is done with only the first 1000 rows.

In [7]:
# Save path
review_path = path + "review.json"

In [8]:
# Load iterable JSON reader to only view sample of reviews
review_samples = pd.read_json(review_path, lines=True, chunksize=1000)

In [9]:
# View single sample
for sample in review_samples:
    display(sample)
    break
    
# Reset to first sample
review_samples = pd.read_json(review_path, lines=True, chunksize=1000)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
995,XMWg7adwVBKqIl_e_TTtuA,syyKcKPFILDysHWmtka-aA,1_hDCN3iioFR3XnUr32ZtA,5,0,0,0,I Recently vacationed in St. Petersburg with m...,2014-06-28 03:00:56
996,BGZ3GtcXhtIEPIkyLVuKDQ,_lgLNzpzf3qmbwySBakxEw,5RzJ2bjU8bLSaN5SuiUpYA,4,1,0,1,Very cool bar attached to the Alexander Hotel....,2016-01-17 16:45:19
997,lm7Q8pH26kqx1gbjCJ16ZQ,Sh_vUlHHY2Kuj14eF8NYZQ,s1PNBO9o5jIgNd5YWUDLXQ,5,1,0,0,This hotel is a gem in the heart of Philadelph...,2016-02-23 21:31:39
998,Lo2giVeSNDvatEAGZRikWQ,YwMD-AVT67fmYRGxnlRSPA,alUk6OwNhofyc90NDMDY-Q,5,7,1,0,Was taken here today by a Colombian friend who...,2010-08-22 01:54:23
999,HBCwI0ahXuni3x030HGKFA,WKe2b_EeLBnZ3lZV5WKYGQ,-Or44IdY51Ukd618kikmtA,4,0,0,0,My friends and I all got one of each that were...,2016-07-25 06:28:49